*{
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*:focus{
  outline: none;
}

*::before,
*::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
}

#root,
body,
html{
  height: 100%;
}

:root{
  --primary-color: #78113e;
  --secondary-color: #EDEDED;
  --primary-text-color: #fff;
  --primary-bg-color: #fff;
  /*--primary-border-color: #dddddd;*/
  /*--secondary-text-color: #626262;*/
  /*--third-text-color: #c9c9c9;*/
  /*--primary-hover-color: rgba(255, 255, 255, 0.2);*/
  /*--secondary-hover-color: rgba(249, 171, 0, 0.2);*/
}

body{
  background-color: var(--primary-bg-color);
}

header{
  background-color: var(--primary-color);
  height: 80px;
  color: var(--primary-text-color);
}

footer{
  height: 80px;
}